asgiref==3.11.1
ast_serialize==0.6.0
Django==5.2.7
django-stubs==5.1.1
django-stubs-ext==6.0.6
django-widget-tweaks==1.5.1
librt==0.12.0
mypy==1.14.1
mypy_extensions==1.1.0
pathspec==1.1.1
psycopg==3.3.4
psycopg2-binary==2.9.12
python-decouple==3.8
ruff==0.15.20
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.16.0
tzdata==2026.2
