<header>
    {% if user.is_authenticated %}
    <p>
        You login as: <strong>{{ user.username }}</strong>.
    
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer; padding: 0;">
            Logout
        </button>
    </form>
    </p>
    {% else %}
    <p>
        You are not loged. <a href="{% url 'login' %}">Login</a>
    </p>
    {% endif %}
</header>


<h1>Task list</h1>

{% for task in object_list %}
<p>Task: {{task.title}} (ID: {{task.id_task}})</p>
{% empty %}
<p>Doesn't exists tasks in DB</p>
{% endfor %}