<h1>Detail of task: {{ object.title }}</h1>
<p>----------------------------------------</p>

<p><strong>ID task:</strong> {{ object.id_task }}</p>
<p><strong>Description:</strong> {{ object.description }}</p>
<p><strong>Status:</strong> {{ object.status }}</p>
<p><strong>Due date:</strong> {{ object.due_date }}</p>
<p><strong>Created:</strong> {{ object.creation_date }}</p>

<p><strong>User (ID):</strong> {{ object.user_id }}</p>

<hr>
<a href="{% url 'task-list' %}">Back to the task list</a>

<p>
    <a href="{% url 'task-update' object.pk %}">
        Edit task
    </a>
</p>